.canvas-options-container {
  position: absolute;
  left: 10px;
  top: 10%;
  width: 100px;
  height: 70%;
  border-radius: 50px;
  background-color: var(--primary-background-color);
}

.canvas-colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.pallet-item {
  width: 29px;
  height: 29px;
  margin: 5px;
  border-radius: var(--border-radius);
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.selected-item {
  border: 1px solid var(--text-primary);
}

.pallet-icon {
  color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
  margin: 3px;
  padding: 1px;
}

.canvas-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.canvas-popover {
  position: absolute;
  z-index: 2;
}

.brush-sizes-container {
  border-top: 1px solid var(--text-secondary);
  margin-top: 10px;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
