.room-page-container {
  border-radius: var(--border-radius);
  max-width: 1000px;
  width: 100%;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5px;
}

.canvas-chat-container {
  display: flex;
  gap: 20px;
  height: 100%;
}

#root {
  overflow: hidden;
}

@media (max-width: 700px) {
  .canvas-chat-container {
    flex-direction: column;
    gap: 10px;
  }
}
