.join-room-container {
  padding: 50px;
}

.join-room-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  button {
    max-width: 100px;
    align-self: center;
  }

  span {
    font-size: 20px;
  }
}
