.join-room-container {
  padding: 30px;
}

.join-room-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  button {
    max-width: 100px;
    align-self: center;
  }
}
