@use "../../../styles/mixins";

.dropdown {
  display: flex;
  flex-direction: column;
  width: 99%;
}

.dropdownSelect {
  width: 100%;
  height: 40px;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-color);
  box-shadow: 4px 4px var(--input-color);
  color: var(--input-color);
  background-color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
  outline: none;
}

select option:first-child {
  display: none;
}

option {
  padding: 20px;
}

.dropdownOption {
  @include mixins.small-text-accent;
}
