.waiting-room-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.room-stat {
  color: var(--text-secondary-light) !important;
  text-align: center;
  position: relative;
  top: -2px;
  margin-left: 2px;
}
