.waiting-room-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.waiting-room-label {
  color: var(--text-secondary);
}

.waiting-room-link {
  text-decoration: underline;
}

.room-stat {
  color: var(--text-secondary-light);
}
