.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 33, 41, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}

.modal-content__container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  width: 100%;
  max-height: 75%;
  background: var(--primary-background-color-rgba);
  border-radius: var(--border-radius);
  overflow: auto;
  position: relative;
}

.title-container {
  position: relative;
  align-self: center;
  margin-top: 20px;
  min-height: 40px;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  background-color: var(--secondary-background-color-dark);
  border-radius: var(--border-radius);
  height: 40px;

  span {
    color: var(--text-secondary-light);
  }
}

.close-button {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgb(138, 48, 48);
  }
}
