.loader-container {
  width: 100%;
  background-color: var(--secondary-background-color-medium);
  height: 30px;
  border-radius: var(--border-radius);
}

.fill-bar {
  height: 100%;
  background-color: var(--text-secondary);
  border-radius: var(--border-radius);
  transition: width 0.5s ease-in-out;
}
