.canvas-container {
  position: relative;
  // margin-left: 10px;
  // display: flex;
  // align-items: center;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  // max-width: max-content;
  // max-height: max-content;
}

.canvas {
  background-color: aliceblue;
  border-radius: var(--border-radius);
  // margin: 10px;
}

.canvas-tools {
  position: absolute;
  left: 10px;
  top: 10%;
  width: 100px;
  height: 70%;
  background-color: red;
  border-radius: 50px;
}

.word-container {
  position: relative;
  top: 35px;
  margin-left: 30px;
  display: flex;
  gap: 5px;
  max-width: max-content;
  .word-label {
    color: var(--text-secondary);
  }

  .word-text {
    color: var(--text-primary);
  }
}
