.message-box {
  border-radius: var(--border-radius);
  display: flex;
  align-self: center;
  gap: 10px;
  padding: 5px;
  width: 255px;
  word-break: break-all;
  img {
    align-self: center;
    justify-self: center;
  }
}

.player-me {
  background-color: var(--secondary-background-color-dark);
}

.player-another {
  background-color: var(--secondary-background-color-medium);
}

.message-box-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-box-username {
  color: var(--text-secondary-light);
}

@media (max-width: 700px) {
  .message-box {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
  }
}
