.chip-selector-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.chip-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color-medium);
  border-radius: var(--border-radius);
  padding: 10px;
  height: 30px;
  max-width: 65px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-background-color-dark);
  }
}

.selected-chip {
  background-color: var(--secondary-background-color-dark);
}
