.input-container {
  display: flex;
  flex-direction: column;
  width: 99%;

  input {
    height: 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--input-color);
    box-shadow: 4px 4px var(--input-color);
    color: var(--input-color);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
  }

  input::placeholder {
    color: #666;
    opacity: 0.8;
  }

  input:focus {
    border: 2px solid var(--secondary-background-color-dark);
  }

  input:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }
}

.input-label {
  color: var(--text-secondary);
  margin-left: 15px;
}

.input-error {
  color: red;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 15px;
}
