body {
  margin: 0;
  padding: 0;
}

#root {
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 900px;
  background-color: var(--primary-background-color);
  // opacity: 0.9;
  display: flex;
  height: max-content;
  width: 100%;
  border-radius: 3%;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}
