body {
  margin: 0;
  padding: 0;
}

#root {
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  // width: max-content;
  // height: max-content;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--fill-primary);
  border-radius: var(--border-radius);
}
