.recent-leader-board-container {
  max-width: 900px;
  width: 97%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5px;
  margin: 0 auto; //για να ειναι στη μεση
  padding-bottom: 25px;
}

//container  διαχειρησης των κουτιων
.recent-leader-board-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  //background-color: var(--secondary-background-color-dark);
  background-color: var(--secondary-background-color-medium);
  border-radius: var(--border-radius);
  padding: 20px 30px 10px 30px;

  max-height: 250px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.recent-games-label{
  margin-right: 50%;
  margin-bottom: 2%;
}
