.recent-games-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding: 5px;
}

.recent-games-content-container {
  background-color: var(--secondary-background-color-dark);
  border-radius: var(--border-radius);
  padding: 5px;
  max-height: 200px;
  min-height: 50px;
  overflow: auto;
}

.recent-games-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.recent-games-label {
  margin-left: 30px;
}

@media (max-width: 420px) {
  .recent-games-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
