.preferences-container {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-secondary);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preferences-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  span {
    color: var(--text-secondary);
  }
}

.sound-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}
