.message-box {
  border-radius: var(--border-radius);
  display: flex;
  align-self: center;
  gap: 10px;
  padding: 5px;
  width: 255px;
  img {
    align-self: center;
  }
}

.player-me {
  background-color: var(--secondary-background-color-dark);
}

.player-another {
  background-color: var(--secondary-background-color-medium);
}

.message-box-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-box-username {
  color: var(--text-secondary-light);
}
