.message-box-container {
  background-color: var(--secondary-background-color-dark);
  //background-color: var(--secondary-background-color-medium);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--input-color);
  box-shadow: 4px 4px var(--input-color);
}
.message-box-avatar {
  border: 1px solid black;
}

.message-box-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.message-box-avatar {
  background-color: black;
  margin: 15px 5px 15px 5px;
}

.message-box-text {
  margin: 5px 15px 5px 15px;
}

.message-box-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
