.points-earned-container {
  width: 100%;
}

.points-label {
  color: var(--text-secondary-light);
}

.points-text {
  color: var(--text-secondary);
}

.progress-container {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--text-secondary);
  height: 30px;

  .progress-loader {
    background-color: var(--secondary-background-color-medium);
    width: 100px;
    border-radius: var(--border-radius);
    height: 30px;
  }

  .star-item-left {
    position: absolute;
    left: -20px;
  }

  .star-item-right {
    position: absolute;
    right: -20px;
  }
}
