.room-page-container {
  margin: 20px;
  border-radius: var(--border-radius);
  max-width: 1400px;
  width: 100vw;
  max-height: 900px;
  height: 100vh;
  background-color: var(--primary-background-color-rgba);
}
