.room-page-container {
  border-radius: var(--border-radius);
  max-width: 1300px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color-rgba);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  gap: 10px;
}

.drawing-area-container {
  // display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
}
