.auth-page-container {
  max-width: 450px;
  width: 100%;
}

.auth-content-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.auth-tab-menu {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
