.auth-page-container {
  max-width: 450px;
  width: 100%;
}

.auth-content-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.auth-page-content {
  display: flex;
  height: 50px;
  background-color: var(--secondary-background-color-dark);
  border-radius: var(--border-radius);
  margin: 30px;
}

.auth-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.selected {
  background-color: var(--secondary-background-color-medium);
}
