.waiting-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

.artist-container {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span:nth-child(2) {
    color: var(--text-primary);
  }

  .artist-label {
    color: var(--text-secondary);
  }
}

.waiting-label {
  color: var(--text-secondary-light);
}
