.home-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  width: 100vw;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // background-color: black;
}

@media only screen and (max-width: 800px) {
  .first-row {
    flex-direction: column;
  }
}
