@use "../../../styles/mixins";

.imageUploader {
  padding-top: 10px;
  display: flex;
  //flex-direction: row;
  padding-right: 80px;
}

.inputFile {
  padding: 10px;
  @include mixins.small-text-accent;
   //color: transparent; //an thelo na bgazo to title douleuei
    //display: none;
}

.avatar-error {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}

.avatar-label{
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}



.avatar-label.hidden,
button.avatar-label {
  display: none;
}