.players-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow: auto;
  max-height: 400px;
}

.player-container {
  padding: 10px;
  background-color: var(--secondary-background-color-medium);
  border-radius: var(--border-radius);
}

.players-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.player-rank {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-secondary-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    font-size: 20px;
    font-weight: bold;
  }
}

.player-info {
  display: flex;
  flex-direction: column;

  span:nth-child(1) {
    color: var(--text-secondary);
  }

  span:nth-child(2) {
    color: var(--text-primary);
  }
}

.rank-label {
  align-self: flex-start;
  color: var(--text-secondary);
}
