@use "../../../styles/mixins";
.player-stats {
  //background-color: black;
  margin-left: -130px;
  margin-top: -40px;
  margin-bottom: 20px;
  position: absolute;
}
.user-stats-column {
  display: flex;
  flex-direction: column;
}

.user-stats-row {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.player-level {
  position: absolute;
}

.star-level {
  position: absolute;
  margin-top: -14px;
  margin-left: -18px;
}
.star-level-image {
  width: 30px;
  height: 30px;
}

.level-number {
  position: absolute;
  margin-top: -8px;
  margin-left: -9px;
}
.level-text {
  color: white;
}

.user-xp {
  margin-top: 9px;
  margin-left: 5px;
}
.user-xp-text {
  background-color: var(--secondary-background-color-medium);
}

.user-name {
  display: inline-block;
  //position: relative;
  margin-left: -5px;
}

.user-name {
  background-color: var(--secondary-background-color-medium);
  text-align: center;
}

.user-name-text {
  color: var(--primary-background-color);
}
