.datepicker {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dateInput {
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--input-color);
  box-shadow: 4px 4px var(--input-color);
  color: var(--input-color);
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
  outline: none;
}
