.info-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.artist-container {
  margin-left: 30px;
  display: flex;
  gap: 5px;

  .artist-label {
    color: var(--text-primary);
  }

  .artist-text {
    color: var(--text-secondary-light);
  }
}

.time-container {
  display: flex;
  gap: 5px;

  .time-label {
    color: var(--text-primary);
  }

  .time-text {
    color: var(--text-secondary-light);
  }
}
