.info-container {
  position: relative;
  top: 10px;
  // margin-top: 15px;
  // border: 1px solid red;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.artist-container {
  margin-left: 30px;
  display: flex;
  gap: 5px;

  .artist-label {
    color: var(--text-primary);
  }

  .artist-text {
    color: var(--text-secondary-light);
  }
}

.time-container {
  margin-left: 30px;
  display: flex;
  gap: 5px;

  .time-label {
    color: var(--text-primary);
  }

  .time-text {
    color: var(--text-secondary-light);
  }
}
