.select-avatar-container {
  border: 1px solid var(--secondary-background-color-dark);
  border-radius: var(--border-radius);
  padding: 10px;
  max-height: 200px;
  overflow: auto;
  height: 100%;
}

.select-avatar-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-container {
  cursor: pointer;

  &:hover {
    background-color: var(--text-secondary-light);
  }
}

.selected-avatar {
  border: 2px solid var(--text-secondary-light);
}
