.chat-container {
  background-color: var(--text-secondary-light);
  border-radius: var(--border-radius);
  max-width: 30%;
  width: 100%;
  height: 100%;
  // /position: relative;
  overflow: auto;
  
}

@media (max-width: 768px) {
  .chat-container {
    margin-top: 20px;
    max-width: 100%;
    
  }
}
.chat-input-gap {
  width: 15px;
}

.message-form{
  display: flex;
  flex-direction: row;
  //margin-top: 150%;
  padding: 10px;

  }
  
  

